@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  background: #edf3f8;
  font-family: "Poppins", sans-serif;
}

.bg-1 {
  @apply bg-gradient-to-r from-[#E38364] to-[#e0725a];
}
.bg-2 {
  @apply bg-gradient-to-r from-[#8C7FDD] to-[#6F5ED8];
}
.bg-3 {
  @apply bg-gradient-to-r from-[#FCA43E] to-[#EAB124];
}
.bg-4 {
  @apply bg-gradient-to-r to-[#C44A8C] from-[#E06DAB];
}
.bg-5 {
  @apply bg-gradient-to-r from-[#4FC47E] to-[#6ED999];
}
.bg-6 {
  @apply bg-gradient-to-r from-[#86B93C] to-[#97C159];
}
.bg-7 {
  @apply bg-gradient-to-r from-[#5094BB] to-[#63AED9];
}
.bg-8 {
  @apply bg-gradient-to-r from-[#3CC1B1] to-[#13D1BA];
}
.text-1{
  color:#e0725a
}
.text-2{
  color:#6F5ED8
}
.text-3{
  color:#EAB124
}
.text-4{
  color:#E06DAB
}
.text-5{
  color:#6ED999
}
.text-6{
  color:#97C159
}
.text-7{
  color:#63AED9
}
.text-8{
  color:#13D1BA
}

.container {
  @apply lg:w-[80%] md:w-[90%] w-full mx-auto bg-white relative  rounded-[36px] border-gray-200 shadow border
}
.container-child {
  @apply flex justify-center flex-wrap items-center lg:gap-5 md:gap-3 gap-2   bg-[#F5F5F5]  py-4   rounded-bl-[36px] rounded-br-[36px] border-gray-200 shadow border mt-5 lg:text-sm text-xs ;
}
.container-top {
  @apply w-[70%] mx-auto rounded-[25px] border border-gray-200 bg-white text-center p-[15px] relative z-40 transform translate-y-[-50%]   text-xs lg:text-sm
}
.header-icon{
  @apply text-white text-5xl
}
.header-text{
  @apply text-white lg:p-0 md:p-2 p-4
}
.header-title{
  @apply lg:text-2xl md:text-xl text-lg  font-bold
}
.header-info{
  @apply lg:text-sm md:text-sm text-xs
}
.section{
@apply h-[100px] px-4  rounded-[25px] cursor-pointer flex justify-start items-center w-full z-50
}
.parent-section{
  @apply flex flex-col-reverse relative
}

.parent-section:hover .section{
  @apply lg:w-[70%] md:w-[70%] w-full
}

.home-sidebar{
  @apply md:rounded-tr-xl  lg:rounded-tr-xl lg:rounded-br-xl md:rounded-br-xl rounded-bl-xl rounded-tl-xl fixed lg:top-12 md:top-12 bottom-12 lg:left-0 md:left-0 right-0
}